{% extends 'home/base.html' %}

{% block content %}
{% load i18n %}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://s1.cdn.autoevolution.com/images/news/gallery/2018-jeep-wrangler-unlimited-moab-edition-finally-shows-up-priced-at-51200_6.jpg" class="d-block mx-lg-auto img-fluid rounded-5" alt="Bootstrap Themes" width="700"
                height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{% trans "COMPRÁ TU VEHÍCULO FAVORITO AQUÍ" %}</h1>
            <p class="lead">{% trans "Explora nuestra amplia selección de vehículos y encuentra el auto perfecto para ti. Con opciones para todos los gustos y presupuestos, te garantizamos calidad y confianza en cada compra. No pierdas la oportunidad de hacer realidad tu sueño de conducir el auto ideal. ¡Visítanos y haz tu compra hoy mismo!." %}</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn btn-warning btn-lg px-4 me-md-2" href="{% url 'vehiculo_list' %}">{% trans "Información" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}