{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Crear Vehiculo</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label>Marca</label>
          <select name="brand" class="form-control">
              <option value="">Selecciona una marca</option>
              {% for brand in brands %}
                  <option value="{{ brand.id }}">
                      {{ brand.name }}
                  </option>
              {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label>Modelo</label>
          <select name="model_car" class="form-control">
              <option value="">Selecciona un Modelo</option>
              {% for model in models %}
                  <option value="{{ model.id }}">
                    {{ model.name}}
                  </option>
              {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label>Cilindradas</label>
          <input type="number" step="100" name="cilindrada" class="form-control" required>
        </div>
        <div class="form-group">
          <label>Año de Frabricacion</label>
          <input type="number" step="1" name="year_production" class="form-control" required>
        </div>
        <div class="form-group">
          <label>Cantidad de puertas</label>
          <input type="number" step="1" name="door_quatity" class="form-control" required>
        </div>
        <div class="form-group">
          <label>Combustible</label>
          <select name="fuel_type" class="form-control">
              <option value="">Selecciona el combustible</option>
              {% for fuel in fuels %}
                  <option value="{{ fuel.id }}">
                      {{ fuel.name}}
                  </option>
              {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label>Pais</label>
          <select name="country" class="form-control">
              <option value="">Selecciona el pais</option>
              {% for country in countries %}
                  <option value="{{ country.id }}">
                      {{ country.name}}
                  </option>
              {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label>Precio</label>
          <input type="number" step="0.01" name="price" class="form-control">
        </div>
        <div class="form-group">
          <label>Imagen</label>
          <input type="file" name="image" class="form-control" >
        </div>
      <button type="submit" class="btn btn-primary">Crear</button>
    </form>
</div>
{% endblock %}