{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Lista de Vehiculos</h2>
    {% if user.is_staff %}
        <a href="{% url 'vehiculo_create' %}" class="btn btn-primary mb-3">Agregar Auto</a>
        <a href="{% url 'brand_list' %}" class="btn btn-primary mb-3">Agregar Marca</a>
        <a href="{% url 'model_list' %}" class="btn btn-primary mb-3">Agregar Modelo</a>
        <a href="{% url 'fuel_list' %}" class="btn btn-primary mb-3">Agregar Tipo de combustible</a>
        <a href="{% url 'country_list' %}" class="btn btn-primary mb-3">Agregar Pais</a>
        <a href="{% url 'transmission_list' %}" class="btn btn-primary mb-3">Agregar Transmision</a>
        <a href="{% url 'condition_list' %}" class="btn btn-primary mb-3">Agregar Condicion</a>
        <a href="{% url 'bodyWork_list' %}" class="btn btn-primary mb-3">Agregar Carroceria</a>
        <a href="{% url 'gama_list' %}" class="btn btn-primary mb-3">Agregar Gama</a>
    {% endif %}
    <div class="dropdown m-1">
      <button data-mdb-button-init data-mdb-ripple-init data-mdb-dropdown-init
        class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
        data-mdb-toggle="dropdown" aria-expanded="false">
        Condicion
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for condition in conditions %}
        <li><a class="dropdown-item" href="{% url 'filter_condition' condition.id %}">{{condition.name}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="dropdown m-1">
      <button data-mdb-button-init data-mdb-ripple-init data-mdb-dropdown-init
        class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
        data-mdb-toggle="dropdown" aria-expanded="false">
        Marcas
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for brand in brands %}
        <li><a class="dropdown-item" href="{% url 'filter_brand' brand.id %}">{{brand.name}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="container d-flex justify-content-center flex-wrap">
      {% for car in cars %}
        <div class="card m-2 align-self-center" style="width: 18rem;">
          <img src="{{car.image.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ car.model_car.name }} | {{ car.brand.name }}</h5>
            <p class="card-text">Este vehiculo fue construido en {{car.country_production}} en el año {{car.year_production}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Combustible: {{car.fuel_type.name}}</li>
            <li class="list-group-item">Cilindrada: {{ car.cilindrada }}</li>
            <li class="list-group-item">Precio: ${{ car.price}}</li>
            <li class="list-group-item">Cant. de Puertas: {{ car.door_quatity}}</li>
          </ul>
          <div class="card-body">
            {% if user.is_staff %}
            <a href="{% url 'vehiculo_update' car.id %}" class="btn btn-success">Editar</a>
            <a href="{% url 'vehiculo_delete' car.id %}" class="btn btn-danger">Eliminar</a>
            {% endif %}
            <a href="{% url 'vehiculo_detail' car.id %}" class="btn btn-primary">Detalle</a>
          </div>
        </div>
      {% endfor %}
    </div>
</div>
{% endblock %}