{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Lista de Condiones</h2>
    {% if user.is_staff %}
      <a href="{% url 'condition_create' %}" class="btn btn-primary mb-3">Crear Condicion</a>
    {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            {% for condition in conditions %}
            <tr>
                <td>{{ condition.name }}</td>
                <td>
                  {% if user.is_staff %}
                    <a href="{% url 'condition_update' condition.id %}" class="btn btn-success btn-sm">Editar</a>
                    <a href="{% url 'condition_delete' condition.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                  {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}