{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Mira las ultimas novedades del mercado</h2>
    {% if user.is_staff %}
      <a href="{% url 'noticias_create' %}" class="btn btn-primary mb-3">Crear Noticia</a>
      <a href="{% url 'category_list' %}" class="btn btn-primary mb-3">Crear Nuevas Categorias</a>
    {% endif %}
    <div class="container d-flex justify-content-left flex-wrap">
      {% for new in news %}
      <div class="row gx-5">
        <div class="col-md-6 mb-4">
          <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
            <img src="{{new.image.url}}" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        </div>
      
        <div class="col-md-6 mb-4">
          <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">{{new.category}}</span>
          <h4><strong>{{new.title}}</strong></h4>
          <p class="text-muted">{{new.short_description}}</p>
          <a href="{% url 'noticias_detail' new.id %}" class="btn btn-primary">Ver Mas</a>
          {% if user.is_staff %}
            <a href="{% url 'noticias_update' new.id %}" class="btn btn-success">Editar</a>
            <a href="{% url 'noticias_delete' new.id %}" class="btn btn-danger">Eliminar</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock %}