{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Mira las ultimas novedades del mercado</h2>
    {% if user.is_staff %}
      <a href="{% url 'noticias_create' %}" class="btn btn-primary mb-3">Crear Noticia</a>
      <a href="{% url 'category_create' %}" class="btn btn-primary mb-3">Crear Nuevas Categorias</a>
    {% endif %}
    <div class="container d-flex justify-content-center flex-wrap">
      {% for new in news %}
      <div class="card m-3 position-relative" style="max-width: 540px;">
          <div class="row g-0">
          <div class="col-md-4">
            <img src="{{new.image.url}}" class="img-fluid rounded-start">
          </div>
          <div class="col-md-8">
            <span class="badge text-bg-secondary ms-3 mt-2">{{new.category}}</span>
            <div class="card-body">
              <h5 class="card-title">{{new.title}}</h5>
              <p class="card-text">{{new.short_description}}</p>
              <p class="card-text"><small class="text-body-secondary">{{new.created_at}}</small></p>
              <a href="{% url 'noticias_detail' new.id %}" class="btn btn-primary">Ver Mas</a>
              {% if user.is_staff %}
                <a href="{% url 'noticias_update' new.id %}" class="btn btn-success">Editar</a>
                <a href="{% url 'noticias_delete' new.id %}" class="btn btn-danger">Eliminar</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock %}