{% extends "home/base.html" %}
{% block content %}
{% load i18n %}

<div class="container mt-3">
    <h2>{% trans "Mira las últimas novedades del mercado" %}</h2>
    <div class="dropdown mb-5">
      <button data-mdb-button-init data-mdb-ripple-init data-mdb-dropdown-init
        class="btn btn-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown"
        aria-expanded="false">
        {% trans "Categorias" %}
      </button>
      {% if user.is_staff %}
      <a href="{% url 'noticias_create' %}" class="btn btn-primary btn-sm">{% trans "Crear Noticia" %}</a>
      <a href="{% url 'category_list' %}" class="btn btn-primary btn-sm">{% trans "Crear Nuevas Categorias" %}</a>
    {% endif %}
      <a href="{% url 'noticias_list' %}" class="btn btn-danger btn-sm">{% trans "Borrar Filtros" %}</a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for category in categories %}
        <li><a href="{% url 'filter_category' category.id %}" class="dropdown-item">{{category.name}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="container d-flex justify-content-left flex-wrap">
      {% for new in news %}
      <div class="row gx-5">
        <div class="col-md-6 mb-4">
          <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
            <img src="{{new.image.url}}" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        </div>
      
        <div class="col-md-6 mb-4">
          <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">{{new.category}}</span>
          <h4><strong>{{new.title}}</strong></h4>
          <p class="text-muted">{{new.short_description}}</p>
          <a href="{% url 'noticias_detail' new.id %}" class="btn btn-primary">{% trans "Ver Más" %}</a>
          {% if user.is_staff %}
            <a href="{% url 'noticias_update' new.id %}" class="btn btn-success">{% trans "Editar" %}</a>
            <a href="{% url 'noticias_delete' new.id %}" class="btn btn-danger">{% trans "Eliminar" %}</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock %}