{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Actualizar Noticia</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group my-3">
          <label>Title</label>
          <input type="text" name="title" class="form-control" value="{{new.title }}" required>
        </div>
        <div class="form-group my-3">
          <label>Categoria</label>
          <select name="category" class="form-control">
              <option value="">Selecciona una categoria</option>
              {% for category in categories %}
                  <option value="{{ category.id }}" {% if category.id == new.category.id  %} selected {% endif %}>
                      {{ category.name }}
                  </option>
              {% endfor %}
          </select>
        </div>
        <div class="form-group my-3">
          <label>Descripcion corta</label>
          <input type="text"  name="short_description" class="form-control" value="{{ new.short_description }}" required>
        </div>
        <div class="form-group my-3">
          <label>Descripcion detallada de la noticia</label>
          <input type="text"  name="long_description" class="form-control" value="{{ new.long_description }}" required>
        </div>
        <div class="form-group my-3">
          <label>Imagen</label>
          <input type="file" name="image" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
        <a href="{% url 'noticias_list' %}" class="btn btn-secondary">Volver</a>
      </div>
    </form>
</div>
{% endblock %}