{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Crear Usuario</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group my-3">
            <label class="my-1">Usuario</label>
            {{ form.username }}
            <label class="my-1">Nombre</label>
            {{ form.first_name }}
            <label class="my-1">Apellido</label>
            {{ form.last_name }}
            <div class="d-flex flex-column">
                <label class="my-1">Email</label>
                {{ form.email }}
                <label class="my-1">Contraseña</label>
                {{ form.password1 }}  
                <label class="my-1">Repita la contraseña</label>
                {{ form.password2 }}       
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Crear</button>
        <a class="btn btn-secondary mt-2" href="{% url 'usuario_list' %}">Volver a la Lista</a>
    </form>
</div>
{% endblock %}