{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Crear Usuario</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Usuario</label>
            {{ form.username }}
            <label>Nombre</label>
            {{ form.first_name }}
            <label>Apellido</label>
            {{ form.last_name }}
            <label>Email</label>
            {{ form.email }}
            <label>Contraseña</label>
            {{ form.password1 }}  
            <label>Repita la contraseña</label>
            {{ form.password2 }}       
        </div>
        <button type="submit" class="btn btn-primary mt-2">Crear</button>
        <a class="btn btn-secondary mt-2" href="{% url 'usuario_list' %}">Volver a la Lista</a>
    </form>
</div>
{% endblock %}