{% extends 'home/base.html' %}
{% block content %}
<div class="container mt-3">
    <h2>Detalle de Usuario</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Usuario</label>
            <input type="text" name="username" class="form-control my-1" value="{{ usuario.username }}" style="max-width: 35rem;" disabled>
            <label>Nombre</label>
            <input type="text" name="first_name" class="form-control my-1" value="{{ usuario.first_name }}" style="max-width: 35rem;" disabled>
            <label>Apellido</label>
            <input type="text" name="last_name" class="form-control my-1" value="{{ usuario.last_name }}" style="max-width: 35rem;" disabled>
            <label>Email</label>
            <input type="text" name="email" class="form-control my-1" value="{{ usuario.email }}" style="max-width: 35rem;" disabled>
        </div>
        <a class="btn btn-secondary mt-2" href="{% url 'usuario_list' %}">Volver a la Lista</a>
        <a class="btn btn-primary mt-2" href="{% url 'usuario_update' usuario.id %}">Editar</a>
        <a class="btn btn-danger mt-2" href="{% url 'usuario_delete' usuario.id %}">Eliminar</a>
    </form>
</div>
{% endblock %}