{% extends 'home/base.html' %}
{% block content %}
<div class="container mt-3">
    <h2>Usuarios</h2>
    {% if user.is_staff %}
    <a href="{% url 'usuario_create' %}" class="btn btn-primary mb-3">Crear Usuario</a>
    {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.first_name }}</td>
                <td>{{ usuario.last_name }}</td>
                <td>{{ usuario.email }}</td>
                <td>
                    {% if user.is_staff %}
                    <a href="{% url 'usuario_detail' usuario.id %}" class="btn btn-secondary btn-sm">Detalles</a>
                    <a href="{% url 'usuario_update' usuario.id %}" class="btn btn-success btn-sm">Editar</a>
                    <a href="{% url 'usuario_delete' usuario.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}