{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Actualizar Usuario</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Usuario</label>
            {{ user_form.username }}
            <label>Nombre</label>
            {{ user_form.first_name }}
            <label>Apellido</label>
            {{ user_form.last_name }}
            <label>Email</label>
            {{ user_form.email }}
            <label>Contraseña</label>
            {{ user_form.password1 }}
        </div>
        <button type="submit" class="btn btn-primary mt-2">Actualizar</button>
        <a class="btn btn-secondary mt-2" href="{% url 'usuario_list' %}">Volver a la Lista</a>
    </form>
</div>
{% endblock %}
