{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Actualizar Cliente</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" name="first_name" class="form-control my-1" value="{{ cliente.user.first_name }}" style="max-width: 35rem;" disabled>
            <label>Apellido</label>
            <input type="text" name="last_name" class="form-control my-1" value="{{ cliente.user.last_name }}" style="max-width: 35rem;" disabled>
            <label>Usuario</label>
            <input type="text" name="username" class="form-control my-1" value="{{ cliente.user.username }}" style="max-width: 35rem;" disabled>
            <label>Email</label>
            <input type="text" name="email" class="form-control my-1" value="{{ cliente.user.email }}" style="max-width: 35rem;" disabled>
            <label>Direccion</label>
            <input type="text" id="address" name="address" class="form-control my-1" value="{{ cliente.address }}" style="max-width: 35rem;" required>
            <label>Telefono</label>
            <input type="text" id="phone" name="phone" class="form-control my-1" value="{{ cliente.phone }}" style="max-width: 35rem;" required>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Actualizar</button>
        <a class="btn btn-secondary mt-2" href="{% url 'cliente_list' %}">Volver a la Lista</a>
    </form>
</div>
{% endblock %}
