{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Crear Transmision</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Nombre</label>
            {{form.name}}
        </div>
        <div class="mt-2">
            <button type="submit" class="btn btn-primary">Crear</button>
            <a class="btn btn-secondary" href="{% url 'transmission_list' %}">Volver a la Lista</a>
        </div>
    </form>
</div>
{% endblock %}